<!-- Image de fond -->
<div class="h-[450px] relative overflow-hidden z-0">
    <img src="../../assets/antoine1.jpg" class="z-0">
    
    <!-- Logo centré en haut à gauche -->

</div>
<div class="absolute top-72 left-16 z-20" style="z-index: auto;">
    <img src="../../assets/antoine_logo.png" class="w-64 h-64 z-20" alt="">
</div>
<!-- Section Contact -->
<div class="relative flex items-center justify-start bg-white z-0 mt-24">
    <div class="mx-auto w-full max-w-lg  z-0">
        <h1 class="text-4xl font-medium">Nous contacter</h1>
        <p class="mt-3">Remplissez le formulaire suivant pour nous contacter:</p>
    
        <form action="https://formspree.io/f/xrbgyagk" method="post" class="mt-10">
            <!-- Ce formulaire est fonctionnel -->
            <input type="hidden" name="access_key" value="YOUR_ACCESS_KEY_HERE" /> 
            
            <div class="grid gap-6 sm:grid-cols-2">
                <div class="relative z-0">
                    <input type="text" name="name" class="peer block w-full appearance-none border-0 border-b border-gray-500 bg-transparent py-2.5 px-0 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0" placeholder=" " />
                    <label class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">Votre Nom</label>
                </div>
                <div class="relative z-0">
                    <input type="text" name="email" class="peer block w-full appearance-none border-0 border-b border-gray-500 bg-transparent py-2.5 px-0 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0" placeholder=" " />
                    <label class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">Votre Email</label>
                </div>
                <div class="relative z-0 col-span-2">
                    <textarea name="message" rows="5" class="peer block w-full appearance-none border-0 border-b border-gray-500 bg-transparent py-2.5 px-0 text-sm text-gray-900 focus:border-blue-600 focus:outline-none focus:ring-0" placeholder=" "></textarea>
                    <label class="absolute top-3 -z-10 origin-[0] -translate-y-6 scale-75 transform text-sm text-gray-500 duration-300 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-focus:left-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:text-blue-600 peer-focus:dark:text-blue-500">Votre Message</label>
                </div>
            </div>
            <button type="submit" class="mt-5 rounded-md bg-black px-10 py-2 text-white">Envoyer un message</button>
        </form>
    </div>
</div>